<h4>{{user.username}}'s Profile</h4>
<img class="user-profile" src="{{user.userPath}}" alt="{{user.username}}'s Profile Picture'">
<p>Name: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Availability: {{user.availability}}</p>
<p>Price/hour: {{user.pricePerHour}}</p>
<p>Center description: {{user.centerDescription}}</p>
<p>Activity: {{user.typeActivity}}</p>