<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- <title>{{title}}</title> --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
 <nav>
    <div class="nav-wrapper">
      <ul class="center hide-on-med-and-down">
  {{#if user}}
          <li><a href="/main">Home</a></li>
        <li><a href="/main/{{user._id}}">Profile</a></li>
        <li><a href="/profile">Edit profile</a></li>
        <li><a href="/main/pets">Add pet</a></li>
        <li><a href="#">Edit Pet Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
  {{else}}
        <li><a href="/auth/login">Login</a></li>
       <li><a href="/auth/signup">Signup</a></li> 
      </ul>
    </div>
  </nav>
  {{/if}}
  <br><br>

  {{!-- <nav>
    <a href="/main">Go to Main</a>
    <a href="/main/{{user._id}}">Go to profile</a>
    <a href="/profile">Edit Profile</a>
    <a href="/main/pets">Add Pet Profiles</a>
    <a href="#">Edit Pet Profile</a>
    <a href="/auth/logout">Logout</a>
    {{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
  </nav>
  <h1>PetFamily</h1>
  {{/if}} --}}

  {{{body}}}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>