<h4>My Profile</h4>
<img src="{{user.userPath}}" alt="{{user.username}}'s Profile Picture'">
<p>Name: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Availability: {{user.availability}}</p>
<p>Price/hour: {{user.pricePerHour}}</p>
<p>Center description: {{user.centerDescription}}</p>
<p>Activity: {{user.typeActivity}}</p>
<button class="waves-effect waves-light btn"><a href="/profile">Edit Profile</a></button>

<h4>My Pets</h4>
{{#each user.pets}}
  <img src="{{this.petPath}}" alt=" {{this.name}}'s Photo'">
  <p>Name: {{this.name}}</p>
  <p>Age: {{this.age}}</p>
  <p>Description:{{this.description}}</p>
  <p>Notes: {{this.notes}}</p>
  <p>Is {{this.name}} vaccinated? {{this.vaccunationCompleted}}</p>
{{/each}}

<button class=" waves-effect waves-light btn"><a href="/main/pets/edit">Edit Pet Profile</a></button>
