<h1>User's Pets</h1>
<div class="card">
  <img src="{{this.petPath}}" alt="{{this.name}}'s phots'">
  <h3>{{this.name}} </h3>
  <p>{{this.age}}</p>
  <p>{{this.description}}</p>
  <p>{{this.notes}}</p>
</div>