<h4>My Profile</h4>
<img class="user-profile" src="{{user.userPath}}" alt="{{user.username}}'s Profile Picture'">
<p>Name: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Availability: {{user.availability}}</p>
<p>Price/hour: {{user.pricePerHour}}€</p>
<p>Center description: {{user.centerDescription}}</p>
<p>Activity: {{user.typeActivity}}</p>
<button class="waves-effect waves-light btn"><a href="/profile">Edit Profile</a></button>

<h4>My Pets</h4>
<div class="animal">
{{#each user.pets}}

  <div class="animal-child">
    <img class="pet-profile" src="{{this.petPath}}" alt=" {{this.name}}'s Photo'">
    <p>Name: {{this.name}}</p>
    <p>Age: {{this.age}}</p>
    <p>Description:{{this.description}}</p>
    <p>Notes: {{this.notes}}</p>
    <p>Is {{this.name}} vaccinated? {{this.vaccunationCompleted}}</p>
    <button type="submit" class=" waves-effect waves-light btn"><a href="/main/pets/{{this._id}}/edit">Edit this pet</a></button> <br>
    <button type="submit" class=" waves-effect waves-light btn"><a href="/main/pets/{{this._id}}/delete">Remove this pet</a></button>
  </div>


{{/each}}
</div>
{{!-- <button class=" waves-effect waves-light btn"><a href="/main/pets/edit">Edit Pet Profile</a></button> --}}