{{!-- <a href="/main">Go to Main</a> --}}
{{!-- <a href="/profile">Edit Profile</a> --}}
{{!-- <a href="/main/pets">Add Pet Profiles</a>
<a href="#">Edit Pet Profile</a> --}}
{{!-- <h1>PetFamily</h1> --}}
  <h3>{{user.username}} Profile!!</h3> 

<h6>Name: {{user.username}}</h6>
<h6>Email: {{user.email}}</h6>
<h6>Availability: {{user.availability}}</h6>
<h6>Price/hour: {{user.pricePerHour}}</h6>
<h6>Center description: {{user.centerDescription}}</h6>
<h6>Activity: {{user.typeActivity}}</h6>