<a href="/main">Go to Main</a>
<a href="/profile">Edit Profile</a>
<h1>PetFamily</h1>
<p>Name: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Availability: {{user.availability}}</p>
<p>Price/hour: {{user.pricePerHour}}</p>
<p>Center description: {{user.centerDescription}}</p>
<p>Activity: {{user.typeActivity}}</p>

